$primaryBackgroundColor: #242a31;
$sideMenuColor: #272f37;
$myRedColor: #da5655;
$myGreyColor: #919ba2;
$hoverGreyColor: #4a515c;
$textGreyColor: #8a8e91;
$myCardColor: #3c444c;
$myCardFontColor: #ccd1d4;
