@import "./_variable";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  width: 100vw;
  height: 100vh;
  background-color: $primaryBackgroundColor;
  .row {
    width: 100vw;
    height: 100%;
  }
}
