* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  width: 100vw;
  height: 100vh;
  background-color: #242a31;
}

.row {
  width: 100vw;
  height: 100%;
}

.sideMenu {
  background-color: #272f37;
}
.sideMenu .icon i {
  float: right;
  margin-right: -35px;
  margin-top: 20px;
}
